
  
  html body{
      background-image:url(https://i.postimg.cc/pTV3VCZm/images-1.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

  }
  body{
            
    /* CSS Opdracht1: Voeg hier de lettergrootte, lettertype en achtergrondkleur*/
     font-size: large;
     background-color:grey;
     color:white;
     font-size: 2opx; 
     font-family: Courier;
    }

    p {
        background-color:rgba(238, 227, 227, 0.6);
        opacity: 0.6;
        color:red;
        font-size: 14px;
        text-align:right;
        /* CSS Opdracht2: Voeg hier de kleur van de tekst en achtergrondkleur*/
    }
   
.cards{
    background-color:grey;
     padding: 10px;
    height: 450px;
    width: 400px;   
    font-size: 1.7em;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;         
    box-shadow: 0 0 3px rgba(43, 40, 40, 0.61) inset;
       }
  .cards img {
    width: 150px;
  }
  .cards h4 {   
      color:green;
  }
  .cards h5 {
      background-color:lightslategray;
      color:red;
      
  }
  ul{
      font-style:italic;
  }
  h1 {
    text-transform: uppercase;
  }
  
 .techgrounds{
     background-color: rgb(17, 15, 15);
     padding: 20px;
 }
  
 .main-p{
  text-align: left;
  padding: 20px;
  margin: 10px;
  background-color:rgb(36, 8, 8);
 }
 .lower-p{
    text-align: left;
    padding: 20px;
    margin: 10px;
    background-color:rgb(36, 8, 8);
   }
   .middle-p{
    text-align: left;
    padding: 20px;
    margin: 10px;
    background-color:rgb(36, 8, 8);
   }
    